.show-btn {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(247, 242, 242);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .equal {
    grid-column-start: 4;
    grid-column-end: 6;
  }
  
  .btn {
    width: 60px;
    height: 60px;
    margin: 6px auto;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(11, 203, 200);
    border: 2px;
  }
  
  .btn:last-child {
    font-weight: medium;
    font-size: 40px;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #edab6d;
  }
  
  .btn:hover {
    background-color: #ed7526;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn:active {
    background-color: #e5733a;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .clr {
    color: #cb0819;
  }
  
  .exp {
    scrollbar-darkshadow-color: #39c1c1;
  }